


     <div class="container">
     	<div class="front side">
     		<div class="content">
     			<h1>Welcome <%=@user.name%></h1>
          <img src="/images/soccer1.png" >
     		</div>
     	</div>
     	<div class="back side">
     		<div class="content">

            <h2><%=@user.name%>'s Profile</h1><br>
            <p>Name: <%=@user.name%></p><br>
            <p>Email: <%=@user.email%></p><br>
            <p>birthday: <%=@user.birthday%></p>
            <ul>
              <li><a class="box" href="/sposts/spost">Create Post</a></li><br>

              <li><a class="box" href="/sposts/everyp">See My Post</a></li>
              <li><a class="box" href="/sposts/allp">News Feed</a></li><br>
            </ul>

              <form action="/logout" method="post">
                <input  class="box" type="submit" type="logout" value="Logout">
              </form><br>


          <form action="/users/<%=@user.id%>" method="post">
            <input class="box" type="submit" name="delete" value="Delete Account" onclick="alert('Account Deleted!')">
          </form>
     		</div>
     	</div>

     </div>


     <link rel="stylesheet" href="/cards.css">
